@import url('./index.css');
.Dartical-main-container{
    /* border: 2px solid green; */
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.Dartical-text-container{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Dartical-text-container-heading{
    font-size: 1.2rem;
    /* border: 2px solid gray; */
    width: 22rem;
    color: var(--logo-color);
}

.Dartical-text-container-pera{
    font-size: 1.1rem;
    /* border: 2px solid gray; */
    width: 25rem;
}

.Dartical-img-container-img{
    width: 25rem;
    border-radius: 0.7rem;
    height: 18rem;
    object-fit:cover;
}

.Dartical-button-container-btn{
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    background: transparent;
    border: 2px solid var(--logo-color);
    font-weight: 800;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width:740px) {
    .Dartical-main-container,
    .Dartical-text-container,
    .Dartical-text-container-heading,
    .Dartical-text-container-pera{
        width: 100%;
        /* border: 2px solid black; */
    }

    .Dartical-img-container-img{
        width: 90%;
        /* height: 25rem; */
    }
}



@media screen and (max-width:550px) {
    .Dartical-main-container,
    .Dartical-text-container,
    .Dartical-text-container-heading,
    .Dartical-text-container-pera{
        width: 100%;
        /* border: 2px solid black; */
    }
}
