html{
    scroll-behavior: smooth;
}
.Footer-container{
    width: 100%;
    height: 20rem;
    /* border: 2px solid green; */
    margin-top: 2rem;
    background-color: rgb(20, 20, 20);
    border-radius: 2rem 2rem 0rem 0rem;
    cursor: pointer;
}