@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');


*{  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  --logo-color:#090b60;
  --button_and_border:#8447fa;
}

/* html{
  font-size: 16px;
} */

::selection{
  background-color: black;
  color: white;
}
