@import url('index.css');
.nav_bar{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0rem 2rem;
}

.nav_bar .logo{
    /* border: 2px solid green; */
    font-size: 5vmin;
    color: var(--logo-color);
    font-weight: 800;
    cursor: pointer;
}

.nav_bar .links{
    /* border: 2px solid green; */
    display: flex;
    gap: 2.5rem;
}

.nav_bar .links ul li{
    list-style: none;
}

.nav_bar .links ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 0.3rem;
    background-image: linear-gradient(var(--logo-color), black);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}

.nav_bar .links ul li a:hover{
    background-size: 100% 2px;
}

.store_logo{
    width: 1.3rem;
    cursor: pointer;
}

.menu_button{
    display: none;
}

/* tablet version css start */
@media screen  and (max-width: 992px) {
    .nav_bar .links{
        display: none;
    }

    .mobile-size, ul{
        display: flex;
        background-color: white;
        flex-direction: column;
        /* height: vmax; */
        align-items: center;
        gap: 2rem;
    }

    .menu_button{
        display: flex;
        /* border: 2px solid green; */
        /* width: 2rem; */
    }
    
    .menu_button .menu_open_button{
        width: 2rem;
        cursor: pointer;
    }

    .menu_button .menu_close_button{
        width: 2rem;
        cursor: pointer;
    }

    .mobile-size{
        width: 100vmax;
        position: relative;
        top: 10.5rem;
        right: -1.8rem;
        overflow: hidden;
        padding: 1rem;
    }

    .nav_bar .mobile-size ul li{
        list-style: none;
    }
    
    .nav_bar .mobile-size ul li a{
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        text-transform: capitalize;
        font-weight: 600;
        padding-bottom: 0.3rem;
        background-image: linear-gradient(var(--logo-color), black);
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: background-size 300ms ease;
    }
    
    .nav_bar .mobile-size ul li a:hover{
        background-size: 100% 2px;
    }
}