@import url('index.css');
.RecentArticals-container{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.RecentArticals-heading-container h2{
    /* border: 2px solid black; */
    color: var(--logo-color);
}

.RecentArticals-pera-container p{
    font-size: 1.1rem;
    /* font-weight: bold; */
}

.RecentArticals-read-container p{
    color: var(--logo-color);
    font-weight: bold;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--logo-color);
    display: inline-block;
}


