.ScienceBehind-container{
    width: 100%;
    /* border: 2px solid green; */
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    gap: 2rem;
}

