@import url('index.css');

.Science-container{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Science-heading-container h2{
    /* border: 2px solid black; */
    width: 18rem;
    font-size: 1.5rem;  
    color: var(--logo-color);
}

.Science-pera-container p{
    /* border: 2px solid green; */
    width: 18rem;
}
.Science-img-container img{
    width: 18rem;
    height: 12rem;
    border-radius: 1rem;
    object-fit: cover;
}

.Science-read-container p{
    color: var(--logo-color);
    border-bottom: 1px solid var(--logo-color);
    display: inline-block;
    font-weight: bold;
    padding-bottom: 0.3rem;
}