@import url("index.css");

.section_1_main_container {
    background-image: url("https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    height: 90vmin;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    /* border: 2px solid green; */
    /* display: none; */
    /* margin-bottom: 100rem; */
}

.section_1_text_and_button {
    display: flex;
    /* z-index: -11; */
    flex-direction: column;
    /* border: 2px solid green; */
    height: 100%;
    justify-content: center;
    gap: 2rem;
    background-image: linear-gradient(-360deg, rgba(255, 255, 255, 0.849), rgba(255, 255, 255, 0));
}

/* .section_1_main_container:after {
    content: '';
    display: inline-block;
    background-image: linear-gradient(-360deg,rgba(255, 255, 255, 0.849), rgba(255, 255, 255, 0));
    color: white;
    width: 100%;
    height: 90vmin;
    border: 2px solid rebeccapurple;
    z-index: -111;
} */

.index {
    z-index: -1;
    margin: 0rem 2rem;
}

.heading .section_1_heading {
    font-size: 3.5rem;
    /* border: 2px solid green; */
    width: 50vmax;
    color: var(--logo-color);
}

.pera .section_1_pera {
    /* border: 2px solid green; */
    width: 45vmax;
    font-size: 1.5rem;
}

.button .section_1_button {
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: var(--button_and_border);
    color: white;
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(90deg, white, white);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 400ms ease;
}

.button .section_1_button:hover {
    background-size: 100% 3px;
}

/* tablet version css start */

@media screen and (max-width: 992px) {

    html {
        font-size: 14px;
    }

    .heading .section_1_heading {
        font-size: 3.5rem;
        /* border: 2px solid green; */
        width: 70vmax;
        color: var(--logo-color);
    }

    .pera .section_1_pera {
        /* border: 2px solid green; */
        width: 60vmax;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .heading .section_1_heading {
        font-size: 3rem;
        /* border: 2px solid green; */
        width: 60vmax;
        color: var(--logo-color);
    }

    .pera .section_1_pera {
        /* border: 2px solid green; */
        width: 50vmax;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 430px) {
    html{
        font-size: 9px;
    }
    .heading .section_1_heading {
        font-size: 2.5rem;
        /* border: 2px solid green; */
        width: 40vmax;
    }

    .pera .section_1_pera {
        /* border: 2px solid green; */
        width: 40vmax;
        font-size: 1.2rem;
    }


}


@media screen and (max-width: 400px) {

    .heading .section_1_heading {
        font-size: 2.5rem;
        /* border: 2px solid green; */
        width: 40vmax;
    }

    .pera .section_1_pera {
        /* border: 2px solid green; */
        width: 40vmax;
        font-size: 1.5rem;
    }
}