@import url('index.css');

/* social media section and text and heading start */
.text_and_back_button{
    border: 2px solid green;
    height: 40vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(175deg, #eef5fd,#f3f8fe00);
}
.text_and_social_media_div{
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0rem;
    align-items: center;
    justify-content: center;
}
.back_button{
    /* border: 2px solid green; */
    display: flex;
    /* position: absolute; */
    /* top: 5rem; */
    /* left: 5rem; */
    text-decoration: none;
    width: 2.7rem;
    margin: 0rem 2rem;
    color: var(--logo-color);
    transition: 0.3s;
}

.back_button_container{
    border: 2px solid green;
    /* height: 4rem; */
    margin-bottom: 1rem;
    width: 100%;
    /* position: fixed; */
    /* top: 5rem; */
}

.back_button:hover{
    margin: 0rem 1.6rem;
    transition: 0.3s;

}
.text_and_social_media_div_heading{
    text-align: center; 
    /* margin-top: 5rem;    */
    /* border: 2px solid green; */
}

.text_and_social_media_div_time_text{
    text-align: center;
}

.text_and_social_media_div_time_text p{
    font-size: 1.2rem;
    font-weight: 600;
}

.text_and_social_media_div_time_text p span{
    font-weight: 900;
}

.text_and_social_media_div_pera{
    text-align: center;
}

.text_and_social_media_div_heading h1{
    font-size: 3.5rem;
    /* border: 2px solid green; */
    width: 50vmax;
    color: var(--logo-color);
    font-weight: 900;
}

.text_and_social_media_div_pera p{
    /* border: 2px solid black; */
    width: 50vmax;
    font-size: 1.2rem;
    font-weight: 500;
}

.social_media_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    gap: 1rem;
}

.linkedin,.facebook,.twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    cursor: pointer;
}

/* first breack point  */

@media screen and (max-width:1260px) {
    .text_and_social_media_div{
        width: 70vmax;
        padding: 2rem 0rem;
    }

    .text_and_social_media_div_heading h1{
        width: 100%;
    }
    .text_and_social_media_div_pera p{
        width: 100%;
    }
}

@media screen and (max-width:1050px) {
    html{
        font-size: 13px;
    }
    .text_and_social_media_div{
        width: 80vmax;
        padding: 2rem 0rem;
    }

    .text_and_social_media_div_heading h1{
        width: 100%;
    }
    .text_and_social_media_div_pera p{
        width: 100%;
    }
}

