@import url('index.css');

.Section3-container {
    /* border: 2px solid green; */
    display: flex;
    height: fit-content;
    padding: 0rem 2rem;
    margin-top: 5rem;
}

.Section3-text-container {
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 2rem;
}

.Section3-text-container h1 {
    /* border: 2px solid green; */
    color: var(--logo-color);
    font-size: 2rem;
}

.Section3-text-container .Section3-read-container p {
    display: inline-block;
    border-bottom: 1px solid var(--logo-color);
    color: var(--logo-color);
    font-weight: bold;
    padding-bottom: 0.3rem;
}

.Section3-text-container p {
    font-size: 1.2rem;
}

.Section3-img-container {
    /* border: 2px solid red; */
    width: 50%;
}

.Section3-img-container img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}

@media screen and (max-width:800px) {
    .Section3-container {
        /* border: 2px solid green; */
        display: flex;
        height: fit-content;
        padding: 0rem 2rem;
        margin-top: 5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Section3-text-container{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 2rem;
        padding: 0;
    }

    .Section3-img-container{
        width: 80%;
    }

}